@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover img {
  filter: brightness(0) invert(1);
}

.custom-theme-button:hover img {
  filter: none !important;
}

.dropdown-content {
  max-height: var(--radix-dropdown-menu-content-available-height);
  overflow-y: auto;
}
